@media only screen and (min-width: 768px) {
    .Paragraph {
        font-size: 2.7vh;
    }
}

.dropCap {
    font-size: 7vh;
    margin-right: 3vh;
    margin-bottom: 3vh;
    display: block;
    font-weight: bold;
    float: left;
}
