.PullQuote {
    margin: 3vh auto 3vh;
    font-size: 1.25em;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .PullQuote {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .PullQuoteContainer {
        float: left;
        width: 45%;
        margin-right: 2%;
    }
    .PullQuote {
        font-size: 1.8em;
        font-weight: bold;
        margin-left: 20%;
    }
}

@media only screen and (min-width: 1024px) {
    .PullQuoteContainer {
        width: 35%;
    }
    .PullQuote{
        margin-left: 30%;
    }
}

@media (min-width: 1028px){
    .PullQuote{
        margin-left: 40%;
    }
}
