.Headline {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0 .25em;
}

@media (max-width: 1023px) {
    .Headline {}
}

@media (min-width: 1024px) {
    .Headline {
        font-size: 2em;
        margin: 0;
    }
}
